body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.generator-display {
  border-radius: 5px;
  font-size: 1.2em;
  display: grid;
  width: 95%;
  grid-template-columns: 50% 50%;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
}

.generator-name {
  /* grid-column-start: 1; */
  /* grid-column-end: 2; */
  padding: 10px;
}

.generator-value {
  /* grid-column-start: 2; */
  /* grid-column-start: 3; */
  padding: 10px;
}
